<div class='row' >
  <div class='col-md-2'>Filter by:</div>
  <div class='col-md-4'>
    <input type='text' #filterElement [(ngModel)]='listFilter' [maxlength]="filterMaxLength" />
  </div>
</div>
<div class='row' *ngIf="displayDetail">
  <div class='col-md-10'>
    <h3>Filtered by: {{listFilter}} </h3>
    <h3>Hits: {{hitsMessage}}</h3>
  </div>
</div>